
.events_block{
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
	padding-bottom: 20px;
	clear: both;
}

.events_block h4{
	font-family: cursive;
	font-size: 19px;
	color: #EF0000;
}

.text_event{
	height: auto;
	float: left;
	width: 50%;
	margin-left: 8%;
	text-indent: 25px;
}

.photo_event img{
	max-width: 30%;
	max-height: 200px;
	margin-top: 50px;
	margin-left: 8%;
	border:5px solid rgba(235,235,235,1);
}

